<div class="center">
  <h1><strong><i>DATOS DEL AUTHOR</i></strong></h1>
</div>

<div class="">
  <td>{{model.author.username}}</td>
</div>
<div class="">
  <img src="{{model.author.profilePicture}}" alt="">
</div>
<div class="">
  First Name: {{model.author.firstName}}
</div>
<div class="">
 Last Name: {{model.author.lastName}}
</div>
<div class="">
  Posts:
<table class="table table-bordered" border="9">
  <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Published date</th>
        <th>content</th>
      </tr>
    </thead>
  {{#each model.posts as |post|}}
      <tbody>
        <tr>
        <td>
          <button type="submit" name="action" {{action "deletePosts" post.title}}>Delete post</button>
        </td>
        <td>
          {{post.title}}
        </td>
        <td>
          {{post.publishedAt}}
        </td>
        <td>
          {{post.content}}
        </td>
        </tr>
      </tbody>
  {{/each}}
</table>
</div>

{{outlet}}
